---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Wer ist Sun In My Pocket?</h1>
			<p>
				Hey! Wir sind Jonathan (26) und Monique (28) – zwei Reiseblogger
				aus Deutschland Nordrhein-Westfalen. Jonathan hat Physik
				studiert und arbeitet seit 3 Jahren in der IT–Branche, während
				ich in den Niederlanden studiert habe und seit 5 Jahren als
				Logopädin arbeite. Außerhalb von unserer Arbeit sind wir
				außerdem zwei Freiheit liebende und reiselustige Menschen, die
				mehr von der Welt und weniger vom 9to5 Alltag sehen wollen. Aus
				diesem Grund haben wir unsere Jobs gekündigt, um in 2025 ein
				ganzes Jahr lang um die Welt zu reisen. Dabei wollen wir euch
				mitnehmen!
			</p>
			<h2>Wer ist Monique?</h2>
			<p>
				Hmm…. Wer bin ich? Zuerst würde Ich mich als durchaus kreativen
				Menschen beschreiben, der gerne Dinge selber macht. Dazu gehören
				z.B. das Zeichnen/Malen, Makramee knüpfen oder auch das
				Up-cycling von Möbeln in unserer Wohnung. Zudem koche ich in
				meiner Freizeit gerne und probiere neue Rezepte aus. Manchmal
				mutiere ich allerdings auch zu einer kleinen Leseratte und sauge
				die Geschichten in den Büchern förmlich auf. Außerdem liebe ich
				Sonnenuntergänge und bin gerne in der Natur (vor allem beim
				Reisen). Wenn ich aktiv sein möchte fahre ich gerne Inliner,
				mache Yoga oder gehe spazieren. Zuletzt der wichtigste Punkt:
				Mein größter Lebenstraum ist es die ganze Welt zu bereisen. …
			</p>
			<p>Achja und ich bin süchtig nach Matcha!</p>
			<h2>Wer ist Jonathan?</h2>
			<p>
				Der Junge mit den roten Haaren… das bin ich! Meine Freunde
				nennen mich Jona, Johnny oder auch Johnnyboy. In meiner Freizeit
				bin Ich am liebsten draußen, zumal ich ein sehr aktiver Mensch
				bin. Daher findet man mich an den Wochenenden in der Regel auf
				dem Sportplatz beim American Football oder mit meinen Freunden
				auf dem Golfplatz. Auch beim Reisen bin ich gerne aktiv, egal ob
				wandern, surfen oder Ski fahren – ich bin dabei. Allerdings darf
				die Entspannung für mich auch nicht fehlen. In ruhigen Momenten
				lese ich gerne, höre Podcasts oder mache einfach die Augen zu
				und lasse die Welt ihr Ding machen. Außerdem liebe ich Salat und
				Apfelmus. Aber niemals zusammen!
			</p>
			<h2>Warum „Sun In My Pocket“?</h2>
			<p>
				Der erste Gedanke, der uns bei einem Jahr Weltreise kam, war
				„Geil, 1 Jahr Sommer!”. Und was gehört zum Sommer? Klar, die
				Sonne. Die man am liebsten einfach in die Tasche stecken und mit
				ins regnerische Deutschland nehmen würde. Ergo „Sun In My
				Pocket”. Zudem soll der Name unser positives Mindset, mit dem
				wir die Weltreise antreten und unsere Begeisterung zum Reisen
				widerspiegeln.
			</p>
		</main>
		<Footer />
	</body>
</html>
