---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Sun in my pocket</h1>
			<p>
				Schön, dass du uns gefunden hast! Wir sind Jonathan und Monique,
				zwei Reiseblogger, die dich für deine nächsten Reisen
				inspirieren möchten.
			</p>
			<p>
				Im Januar 2025 haben wir unsere Weltreise gestartet und nehmen
				euch hier mit zu den schönsten Orten der Welt. Mehr darüber
				erfährst du in unserem <a href="./blog/">Reisetagebuch</a>. Für
				alle Weltenbummler bieten wir hier außerdem die besten
				Geheimtipps, schönsten Reiserouten und Beiträge über Reiseziele
				auf der ganzen Welt.
			</p>
			<h2>Reisetagebuch</h2>
			<p>
				Erlebe die Reise unseres Lebens hautnah mit uns. Tauche tief in
				unsere Gedankenwelt ein, verfolge unsere Route auf Schritt und
				Tritt und lass dich in die Weiten der Welt mitnehmen.
			</p>
			<p>
				Wir lassen Deutschland hinter uns und bereisen 1 Jahr lang mit
				dem Rucksack die Welt. Du erfährst hier in wöchentlichen Updates
				nicht nur von unseren aktuellen Standorten, sondern auch von
				unseren alltäglichen Abenteuern und wie wir uns dabei fühlen.
			</p>
			<h2>Reiseziele</h2>
			<p>
				Wir reisen liebend gern, und das nicht erst seit unserer
				Weltreise. Entdecke die schönsten Orte der Welt durch unsere
				Augen. Du findest hier Reiserouten, Städtetrips, die schönsten
				Sehenswürdigkeiten, Tipps und Empfehlungen rund um den Globus.
			</p>
		</main>
		<Footer />
	</body>
</html>
